@import url(https://db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);
@import url(https://db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Circular Std Medium;
  font-weight: 100;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#main-panel {
  background-color: #03192d;
  width: 75vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

#sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 25vw;
  height: 100vh;
  background-color: #223a52;
  color: white;

  overflow-y: auto;

  /* Custom Scrollbar Styles */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #999 #2c5a85; /* Firefox */

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

#new-chat-btn {
  width: 80%;
  height: 5%;
  background-color: #2b5985;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 20px;
}

#new-chat-btn:hover {
  background-color: #03192c;
  border: 2px solid #2b5985;
  transition: 0.1s;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

#openai-logo {
  width: 20%;
}

#title {
  font-size: 3rem;
}

#subtitle {
  margin-top: -20px;
  padding-left: 50%;
}

#chat-header {
  width: 90%;
  height: 10%;
  background-color: #1c354c;
  margin: 15px;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 23px 25px 4px 0px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat-window {
  width: 90%;
  height: 100%;
  background-color: #1c354e;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 23px 25px 4px 0px #000;
  overflow-y: auto;

  /* Custom Scrollbar Styles */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #999 #2c5a85; /* Firefox */

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

#input-area {
  width: 90%;
  height: 8%;
  margin: 20px;
  border-radius: 15px;
}

#input-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

#message-box {
  color: white;
  width: 88%;
  height: 100%;
  background-color: #2c5a85;
  border: 0;
  border-radius: 15px;
  padding: 15px;
  font-size: 20px;
  overflow: auto;
  white-space: pre-wrap;
  resize: none;
  line-height: 40px;
  font-family: Circular Std Book;

  /* Custom Scrollbar Styles */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #999 #2c5a85; /* Firefox */

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

#message-box::placeholder {
  color: #999; /* Set the color of the placeholder text */
  font-style: italic; /* Optionally set a different font style */
}

#message-box:focus {
  outline: none;
}

#send-btn {
  width: 8%;
  height: 100%;
  border-radius: 15px;
  background-color: #2b5985;
  border: none;
  padding: 20px;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #03192c;
  border: 2px solid #2b5985;
  transition: 0.1s;
}

#message-feed {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0;
}

#message-feed li {
  display: flex;
  width: auto;
  padding: 20px;
  margin: 10px 10px;
  border-radius: 15px;
  box-shadow: 15px 15px 1px -5px #000;
  align-items: center;
}

#message-feed p {
  color: white;
  font-size: 20px;
  text-align: left;
}

#message-feed p.role {
  min-width: 100px;
}

#user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 10px 10px 1px -3px #000;
}

#chat-history {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#chat-history li {
  list-style-type: none;
  padding: 15px 0;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b5985;
}

#chat-history li:hover {
  list-style-type: none;
  padding: 15px 0;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  background-color: #03192c;
  text-align: center;
}

.selected-chat {
  border: 3px solid white;
}

.divider {
  width: 100%;
  margin-top: 20px;
  border-color: #03192c;
  border-style: solid;
}


